body {
    background-color: #b14ff396;
}
#surfacePlot {
    border: 1px solid black;
    /* height: 450px; */
    /* width: 80%; */
    /* margin: auto 10%; */
}
div#arrayContainer {
    background-color: #bbb;
    border: 1px solid black;
    overflow-y: auto;
    /* width: auto; */
    /* height: 500px; */
    padding: 20px;
}
div#main {
    margin-top: 2%;
    width: 100%;
    height: auto;
}
div.floatMain {
    width: 46%;
    height: 450px;
    float: left;
    margin-left: 1%;
}
div#input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div#input > div {
    flex: 1;
    margin: 0 10px; 
    text-align: center;
}
#doIDW {
    visibility: hidden;
}